[include]
	path = ~/.gitconfig.local

[alias]
	st = status -s # 簡略status
	br = branch
	sw = switch
	sh = stash
	save = stash save -u # メッセージ付きstash untrackedファイル含
	see = !gh repo view --web # 該当リポジトリを開く
	la = log --oneline --decorate --graph --branches --tags --remotes --all
	gone = "!git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"
	aliases = !git config --get-regexp alias | sed 's/^alias.//g' | sed 's/ / = /1'

[fetch]
	prune = true
