name: Renovate config linter

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/renovate-config-validator.yaml'
      - '.github/renovate.json5'
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-slim
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
